.backdrop {
  background-color: rgba(0, 0, 0, 0.733);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__text {
    color: white;
    font-size: 2.5rem;
  }
}
